{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PixelDomination</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="wrapper">
    <header class="header">PixelDomination</header>
    <main class="main">
      <h1 class="main__title">Пиксельное полотно 50x50</h1>
      <section class="controls">
        <label for="color-picker">Выберите цвет:</label>
        <div id="palette">
          <button class="color" style="background-color: #FF0000;" data-color="#FF0000"></button>
          <button class="color" style="background-color: #00FF00;" data-color="#00FF00"></button>
          <button class="color" style="background-color: #0000FF;" data-color="#0000FF"></button>
          <button class="color" style="background-color: #FFFF00;" data-color="#FFFF00"></button>
          <button class="color" style="background-color: #FF00FF;" data-color="#FF00FF"></button>
          <button class="color" style="background-color: #00FFFF;" data-color="#00FFFF"></button>
          <button class="color" style="background-color: #000000;" data-color="#000000"></button>
          <button class="color" style="background-color: #FFFFFF;" data-color="#FFFFFF"></button>
          <button class="color" style="background-color: #888888;" data-color="#888888"></button>
          <button class="color" style="background-color: #FFA500;" data-color="#FFA500"></button>
        </div>
        <input type="color" id="color-picker" value="#000000">
        <button id="export">Экспортировать</button>
      </section>
      <div id="canvas-container">
        <canvas id="pixel-canvas" width="500" height="500"></canvas>
      </div>

      <a href="/index/" class="btn">Вернуться на главную</a>
      
    </main>
    <footer class="footer"><p>&copy; 2024 PixelDomination</p></footer>
  </div>

  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>