{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelDomination</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <h1 class="header__title">PixelDomination</h1>
    </header>
    <main class="main">
      <aside class="best-work">
        <figure class="best-work__box">
            <img class="best-work__img" src="{% static 'img/best.png' %}" alt="фото лучшей работы за неделю">
            <figcaption>Лучший pixel art за неделю</figcaption>
        </figure>
    </aside>
    <section class="welcome">
        <div class="container">
            <p class="welcome__text">Добро пожаловать в PixelDomination! Творите, соревнуйтесь, побеждайте.</p>
        </div>
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 PixelDomination</p>
    </footer>
</div>

<script src="{% static 'js/form.js' %}"></script>
</body>
</html>