{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PixelDomination</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="container">
            <div class="header__inner">
              <a  href="/" class="header__link"><img src="{% static 'img/logo.svg' %}" alt="logo" class="header__img"></a>    
              <h1 class="header__title">Мой профиль</h1>
              <a href="/logout/" class="header__logout">Выйти</a>
            </div>
        </div>
    </header>
    <main class="main">
      <div class="profile">
        <section class="profile__stats" id="profile-stats">
          <h2 class="profile__stats-title">Профиль игрока</h2>
          <ul class="profile__stats-list">
            <li><span>Игрок:</span> <strong>master</strong></li>
            <li><span>Дата регистрации:</span> <strong>13.12.2024</strong></li>
            <li><span>Последний визит:</span> <strong>14.12.2024</strong></li>
          </ul>
          <h3 class="profile__stats-subtitle">Игровая активность</h3>
          <ul class="profile__stats-list">
            <li><span>Сыграно игр:</span> <strong>42</strong></li>
            <li><span>Закрашенные пиксели:</span> <strong>{{ user_profile.pixels_colored }}</strong></li>
            <li><span>Время в игре:</span> <strong>30 минут</strong></li>
          </ul>
        </section>
        <section class="profile__stats">
          <h2 class="profile__stats-title">Рейтинг игроков</h2>
          <ul class="profile__stats-list">
            <li><span>1. Никита:</span> <strong>1050 пикселей</strong></li>
            <li><span>2. Иван:</span> <strong>980 пикселей</strong></li>
            <li><span>3. Анна:</span> <strong>900 пикселей</strong></li>
            <li><span>4. Ольга:</span> <strong>850 пикселей</strong></li>
            <li><span>5. Сергей:</span> <strong>800 пикселей</strong></li>
          </ul>
          <div class="profile__user-rank">
            <span>Ваше место:</span>
            <strong>#12</strong>
            <small>из 250 игроков</small>
          </div>
        </section>
      </div>
        
    </main>
    <footer class="footer"><p>&copy; 2024 PixelDomination</p></footer>
</div>

</body>
</html>